Options +FollowSymLinks

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php
RewriteRule ^dealer/(.*)/(.*)/(.*)$ dealer-inventory.php?name=$1&id=$2&page_id=$3
RewriteRule ^category/(.*)/(.*)/(.*)$ category.php?name=$1&id=$2&page_id=$3
RewriteRule ^products/(.*)/(.*)/(.*)$ product-details.php?name=$1&id=$2
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ page.php?name=$1 [L] 
